* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #cc0d41;
}


.content{
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: #fff;
}

.content h1{
    text-align: center;
}


@media screen and (min-width: 300px){
    .content{
        max-width: 300px;
        height: auto;
        margin: auto;
        border-radius: 1rem;
    }


    .content img{
        max-width: 250px;

    }
}


@media screen and (min-width:576px){
    .content{
        max-width: 576px;
        height: auto;
        margin: auto;
        border-radius: 1rem;
    }

    .content img{
        max-width: 576px;
    }
}

@media screen and (min-width:992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 0 auto;
        border-radius: 1rem;
    }


    .content img{
        max-width: 992px;
    }
}

